@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply cursor-pointer py-1 px-2 bg-blue-300 text-white font-semibold rounded shadow-md hover:bg-blue-400 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 disabled:opacity-40 disabled:cursor-not-allowed;
  }
  .btn-secondary {
    @apply cursor-pointer py-1 px-2 bg-neutral-40 text-black font-semibold rounded  hover:bg-neutral-50 focus:outline-none focus:ring-2 focus:bg-neutral-50 focus:ring-opacity-75;
  }
  .btn-secondary-sm {
    @apply cursor-pointer py-0 px-1 bg-neutral-40 text-black rounded-sm  hover:bg-neutral-50 focus:outline-none focus:ring-2 focus:bg-neutral-50 focus:ring-opacity-75 border border-solid border-neutral-50;
  }
  .form-border {
    @apply border-neutral-200 border;
  }
}

/** SVG STUFF */

.path-blocker {
  stroke: #97A0AF;
  fill: transparent;
  /*stroke-dasharray: 5,5;*/
}
.path-blocker.blocked-0 {
  stroke: red;
  fill: transparent;
  stroke-dasharray: none;
  stroke-width: 3;
}
.path-blocker.blocked-1 {
  stroke: red;
  fill: transparent;
  stroke-dasharray: none;
  stroke-width: 2;
}
.path-blocker.blocked-2 {
  stroke: red;
  fill: transparent;
  stroke-dasharray: none;
  stroke-width: 1;
}

.path-blocker.blocking-0 {
  stroke: orange;
  fill: transparent;
  stroke-dasharray: none;
  stroke-width: 3;
}
.path-blocker.blocking-1 {
  stroke: orange;
  fill: transparent;
  stroke-dasharray: none;
  stroke-width: 2;
}
.path-blocker.blocking-2 {
  stroke: orange;
  fill: transparent;
  stroke-dasharray: none;
  stroke-width: 1;
}
/* stuff tailwind doesn't do */
dialog::backdrop {
  background-color: rgba(122, 134, 154, 0.5);
}


body {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
body.fullscreen .hide-on-fullscreen {
  display: none;
}
body.fullscreen .fullscreen-fixed-to-top {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  
}
body.fullscreen .fullscreen-pt-14 {
  padding-top: 56px;
}
body.fullscreen .fullscreen-m-0 {
  margin: 0px;
}

body.fullscreen .fullscreen-round-none {
  border-radius: 0px;
}


jira-auto-scheduler {
  display: block;
}


h1 {
  font-size: 24px;
  font-weight: 300;
  line-height: 1;
  margin: 0 0 20px;
}


ul.key li {
  display: inline-block;
  margin-right: 16px;
}


.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}



.button--primary, .file-upload {
  background-color: #0052CC;
  color: #ffffff;
}

.button--primary:hover, .button--primary:focus,
.file-upload:hover, .file-upload:focus {
  background-color: #0065FF;
}

.button--secondary {
  background-color: #ffffff;
  color: #0052CC;
}

.button--secondary:hover, .button--secondary:focus {
  background-color: rgba(9, 30, 66, 0.08); /* #091E42 */
}

label {
  font-size: 1rem;
  line-height: 1;
}


table.team-table  label {
  display: block;
  margin-bottom: 8px;
}

table.team-table {
  background-color: #FAFBFC;
  background-size: 20px;
  background-image: linear-gradient(to right, #DFE1E6 1px, transparent 1px);
  background-position: 200px 0px;
  border-collapse: collapse;
  margin-bottom: 200px;
}

jira-team {
  display: table-row;
}

.sticky-column {
  background-color: #FFFFFF;
  box-shadow: 1px 0 0 0 #505F79, inset 0 0 0 1px #DFE1E6;
  display: inline-block;
  left: 0;
  padding: 16px 16px 16px 32px;
  position: sticky;
  text-align: left;
  width: 152px;
  z-index: 9999;
}

.team-table td {
  overflow: hidden;
  padding: 0;
  vertical-align: top;
  white-space: nowrap;
}

ul {
  margin: 0;
  padding: 0;
}

ul.work-container li {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  /*height: 72px;*/
  line-height: 24px;
  overflow: hidden;
  margin-bottom: -3px;
  white-space: normal;
}

p.truncate {
  display: -webkit-box;
  overflow: hidden;
  margin: 0;
  padding: 0;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.work {
  box-sizing: border-box;
  background-color: rgba(255,255,255,.6);
  box-shadow: inset 0 0 0 1px #C1C7D0;
}

.work:hover, .chip--current {
  background-color: #FFFAE6;
  box-shadow: inset 0 0 0 1px #FFC400;
}

.chip {
  border-radius: 3px;
  display: block;
  font-size: 14px;
  font-weight: 500;
  padding: 6px 12px;
}


p a, p a:visited {
  color: #0052CC;
  text-decoration: none;
}

a:hover, a:focus {
  color: #0052CC;
  text-decoration: underline;
}

/* Copied Atlassian flags: https://atlassian.design/components/flag/examples */
simple-tooltip {
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: rgb(9 30 66 / 31%) 0px 0px 1px, rgb(9 30 66 / 25%) 0px 20px 32px -8px;
	z-index: 1000;
}

simple-tooltip span {
  /* display: block; */
  font-size: 14px;
  line-height: 24px;
}

jira-configure-csv {
  margin: 20px;
  display: block;
}

jira-configure-csv ul {
  margin: 20px;
}

jira-configure-json-logic {
  display: flex;
}

jira-configure-json-logic textarea {
  min-height: 200px;
  flex-grow: 4;
}
jira-configure-json-logic textarea.dirty {
  border: solid 1px red;
}





/** SIZING */



/* FONT SIZING */
.text-base {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}

/** FONT **/

.inline-code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  background-color: rgb(241 245 249);
  border: solid 1px #e5e7eb;
}


.text-center {
	text-align: center;
}
/*
.sticky {
	position: sticky;
}*/
